{% extends 'my_all_app/base.html' %}

{% block content %}
{% load static %}

<h1>add</h1>
 <form method="POST" class="post-form">
                                {% csrf_token %}
                                <h1> Indicator Add</h1>
                                {{ form }}
                                <button type="submit" class="save btn btn-default">Save</button>
                                <br> <br>
                            </form>
                        </div>



{% endblock %}
