{% extends 'my_all_app/base.html' %}
{% block content %}
{% load static %}
<div class="col-add">

                        <form method="POST" class="post-form-add">
                                {% csrf_token %}
                              <div class="form-group">
                            <label>Index : </label>
                             {{ form.position_index }}
                          </div>
                          <div class="form-group">
                            <label>volume :</label>
                            {{ form.volume }}
                          </div>
                            <div class="form-group">
                            <label>be :</label>
                            {{ form.be }}
                          </div>
                            <div class="form-group">
                            <label>sl :</label>
                            {{ form.sl }}
                          </div>
                            <div class="form-group">
                            <label>tp1 :</label>
                            {{ form.tp1 }}
                          </div>
                            <div class="form-group">
                            <label>tp2 :</label>
                            {{ form.tp2 }}
                          </div>
                            <div class="form-group">
                            <label>Indicateur :</label><br>
                             <span class="show-indicator">
                                        {% for position_indicator in form.position_indicator %}
                                        <p>{{ position_indicator }}</p>
                                         {% endfor %}
                             </span>
                          </div>
                             <div class="form-group">
                            <label>comment :</label><br>
                            {{ form.comment }}
                          </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>



{% endblock %}
