<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    My all
  </title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'my_all_app/css/css.css' %}" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'my_all_app/css/black-dashboard.css' %}" />
  <script src="{% static 'my_all_app/js/jquery.min.js' %}"></script>
  <script src="{% static 'my_all_app/js/black-dashboard.min.js' %}"></script>

</head>

<body >
  <div class="wrapper">
    <div class="sidebar">

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            MA
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            {{request.user.username}}
          </a>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="{% url 'index' %}">
              <i class="fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{% url 'add' %}">
              <i class="far fa-plus-square"></i>
              <p>Ajout Positions</p>
            </a>
          </li>
          <li>
            <a href="{% url 'manage' %}">
              <i class="far fa-money-bill-alt"></i>
              <p>Gestion Positions</p>
            </a>
          </li>
          <li>
            <a href="{% url 'history' %}">
              <i class="fas fa-history"></i>
              <p>Historique</p>
            </a>
          </li>
          <li>
            <a href="{% url 'calculator' %}">
              <i class="fas fa-calculator"></i>
              <p>Calculatrice</p>
            </a>
          </li>
          <li>
            <a href="{% url 'setting' %}">
              <i class="fas fa-cogs"></i>
              <p>Parametres</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class="fas fa-sign-out-alt"></i>
              <p>Déconexion</p>
            </a>
          </li>
          {% else %}

          {% endif %}
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
           <h1 id="titre"> My All</h1>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <img width="150"  class="logo" src="{% static 'my_all_app/img/my_all_logo.png' %}" />
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->


      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
                <div class="row">
                  <div class="col-sm-6 text-left">
                  </div>
                </div>
            </div>
          </div>
        </div>

 {% block content %}{% endblock %}

      </div>
    </div>
  </div>
</body>

</html>