{% extends 'my_all_app/base.html' %}

{% block content %}
{% load static %}
                        <div class="row">
                <div class="col-lg-5">
                    <div class="card card-chart"   style="display:flex; flex-direction: row ;" >
                        <div class="col-sm-6 text-left">
                        <h1>Calculator </h1>
                               <div class="card card-chart ">
                                      <form method="POST" class="post-form">


                                {% csrf_token %}
                                {{ formcal.as_p }}
                      <button type="submit" class="btn btn-primary">show</button>
</form>  <!--
  {% csrf_token %}
  <div class="form-group">
    <label for="cars">Choose a index:</label>
  <select required="required"  name="indexselect" id="indexselect">
      <br>
      <option></option>
       {% for index in index %}
          <option>{{index.name}}</option>
      {% endfor %}

  </select>
    <small id="emailHelp" class="form-text text-muted">Edit your index in setting page</small>
  </div>
  <div class="form-group">
    <label >Volume</label>
    <input type="number" required="required"  name="volume" id="volume" value="volume" step="0.01" min="0.01" max="5">
      <br><br>
       <label >SL</label>
    <input type="number"  required="required"  name="sl" id="sl" value="sl" step="1" min="1" max="35">
  </div>
  <button type="submit" class="btn btn-primary">show</button>

-->
                               </div>


                        </div>

                         <div class="col-sm-6 text-left">
                        <h1>Calculator </h1>
                               <div class="card card-chart ">
                                    <h2>money risk : {{money}} eur </h2>

                               </div>


                        </div>


                    </div>
                </div>








{% endblock %}
