{% extends 'my_all_app/base.html' %}

{% block content %}
{% load static %}

            <div class="row">

                <div class="col-lg-5">
                    <div class="card card-chart " style="display:flex; flex-direction: row ;">
                        <div class="col-sm-6 text-left">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                <h1>Index Add</h1>
                                <h3>index name:</h3>
                                  <input list="name" type="text" id="list" name="name">
                                    <datalist id="name">
                                      {% for indexDispo in indexDispo %}
                                    <option value="{{indexDispo}}"></option>
                                    {% endfor %}
                                    </datalist>
                                <br><br>
                                <button type="submit" class="save btn btn-default">Save</button>
                                <br> <br>
                            </form>
                        </div>
                        <div class="col-sm-6 text-left">
                                <h1> Edit Index</h1>
                            <table class="table">

                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Index</th>
                                    <th scope="col">delete</th>
                                 </tr>
                                </thead>
                            <tbody>
                            {% for all in all %}
                             <tr>
                                <th scope="row"></th>
                                <td><h4>{{all.name}}<h4/></td>
                                 <td> <a href="{% url 'deleteIndex' indexId=all.id %}"><i class="fas fa-trash"></i></a></td>
                             </tr>
                            {% endfor %}


                             </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-5">
                     <div class="card card-chart " style="display:flex; flex-direction: row ;">
                        <div class="col-sm-6 text-left">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                <h1> Indicator Add</h1>
                                <h3>indicator name</h3>
                                {{ form2.name }}
                                <h3>Information</h3>
                                {{ form2.description }}
                                <button type="submit" class="save btn btn-default">Save</button>
                                <br> <br>
                            </form>
                        </div>
                         <div class="col-sm-6 text-left">
                                <h1> Indicator Edit</h1>
                            <table class="table">

                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Index</th>
                                    <th scope="col">Info</th>
                                    <th scope="col">delete</th>
                                 </tr>
                                </thead>
                            <tbody>
                            {% for indicator in indicator %}
                             <tr>
                                <th scope="row"></th>
                                <td><h4>{{indicator.name}}<h4/></td>
                                 <td><abbr title="{{indicator.description}}"><i class="fas fa-info"></i></abbr></td>
                                 <td> <a href="{% url 'deleteIndicator' indicatorId=indicator.id %}"><i class="fas fa-trash"></i></a></td>

                             </tr>
                            {% endfor %}


                             </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="coluser">
                    <div class="card card-chart">
                        <div class="col-sm-6 text-left">
                        <h1>User settings </h1>
                            <h3>User name: {{request.user.username}}</h3>
                            <h3>User Email: {{request.user.email}} </h3>

                                <a  class="btn btn-primary btn-sm" href="{% url 'edit'%}"> Edit Password</a>
                        </div>
                    </div>
                </div>

{% endblock %}

<!-- https://tutorial.djangogirls.org/fr/django_forms/ -->